body {
  margin: 0;
  background-color: #282a36 !important;
}

nav {
  box-shadow: inset 0px -4px 0px 0px rgba(0, 0, 0, 0.1);
  margin-bottom: 10px;
}

.building-table {
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
  border: 5px solid #1f2327 !important;

  button {
    box-shadow: inset 0px -4px 0px 0px rgba(0, 0, 0, 0.1);
    padding-top: 1px;
    padding-bottom: 9px;
  }

  td {
    cursor: pointer;
  }
}

.table-responsive {
  border-radius: 5px;
}

div .title {
  color: #fff !important;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #1f2327;
  padding: 10px 20px;
  border-radius: 10px;
  margin-bottom: 10px;

  button {
    box-shadow: inset 0px -4px 0px 0px rgba(0, 0, 0, 0.1);
    height: auto;

    a {
      color: #fff;
      text-decoration: none;
      font-weight: 500;
    }
  }

  h1 {
    padding: 0 !important;
    margin: 0;
    font-size: 130%;
  }
}
